.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  gap: 15px;
  width: 100%;
}
.column {
  flex-direction: column;
}
.dataSiswa {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 16rem;
  padding: 1.25rem;
  width: 16rem;
  background-color: #fff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  height: 5rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2.5px solid var(--second-color);
}
.dataSiswa:hover {
  border-top: none;
  border-bottom: 5px solid var(--main-color);
  transition: ease 0.2s;
}
.tableAnt {
  width: "100%";
  height: "100%";
  border-radius: 10px;
  border-top: 5px solid green;
  margin-top: 15px;
  min-height: 432px;
}
.ant-table-thead > tr > th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}
