.tableAnt{
    border-top: 5px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-top: 50px;
}
.ant-table-thead > tr > th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
  }